/*-------------------------- Formatting all----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');







header {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 10px
}

.background {
    background-image: url("assets/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1{
   font-family: 'Hind Madurai', sans-serif; 
   font-size: 50px;
}

/*-------------------------- Centering ----------------------------- */

.jumbotron_landing {
    /*background-image:  url("https://www.residentadvisor.net/images/profiles/icarus.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: black;
    font-family: 'Hind Madurai', sans-serif;

}

.full-height {
    min-height: 100vh;
    /* calc(100vh - 120px)*/
}


.title{
    width:100vw;
}


/*-------------------------- Full Screen Formats----------------------------- */

.menu-item {
    margin-left: 50px;
    color: black !important;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
}

.menu-height{
    font-size: 20px;
    padding-top: 15px;
    
}


menu-height:visited{
  text-decoration: none;
}

/*Cant seem to make text go black!!!*/ 

@media (max-width: 767px) {
    .large-screens {
        display: none;
        
    }
}

/*-------------------------- Small Screen Formats----------------------------- */

@media (min-width: 768px) {
    #dropdownMenuButton {
        display: none;
        position: fixed;
        right: 0;
        color: white;
        background-color: black;

    }
}

@media (min-width: 768px) {
    .navDefault {
    position: fixed;
    right: 0;
    background-color: #4a4a4f;
}
}


/*-------------------------- Footer----------------------------- */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    display: inline-block;

}


.icons {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 12px 0;
    border-radius: 30px;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: black;
    background-color: white;
    margin-right: 20px;

}

/*-------------------------- Index Page ----------------------- */

.landing-image {
    background-image: url("../assets/background.png");
    position: fixed;
    height: 100% !important;
    width: 100% !important;
    background-size: cover;
    z-index: -1;
    margin: 0px;
    padding: 0px;

}


.events {
    color: white;
    font-family: 'Hind Madurai', sans-serif;
    height: 100px;
}

.events-title {
    color: white;
    font-family: 'Hind Madurai', sans-serif;
    height: 100px;
    font-size: 30px; 
}


/*-------------------------- Everything but index page----------------------- */

.placeholder {
    background-color: grey;

}

.filler{
    background-color: black;
    border-color: none;
}

/*-------------------------- Music----------------------- */



.iframe-container{
  position: relative;
  padding-bottom: 400px; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.music-title{
    z-index: 2;
}

@media (min-width: 768px) {
.spacer{
    height: 60px
}
}

/*-------------------------- News Page----------------------- */

.item-one {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Hind Madurai', sans-serif;
    

}

.small-articles {
    display: inline-block;
    margin-top: 50px;
    font-family: 'Hind Madurai', sans-serif;
    padding-bottom: 50px;
    padding-top: 50px;
    

}


.jumbotron_news {
    background-image: url("https://ichef.bbci.co.uk/images/ic/960x540/p02xc61j.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hind Madurai', sans-serif;
}

.fabric {
    height: 150px;
    width: 150px;
}

@media (max-width: 767px) {
.small-news-image {
    display: none;
}
}

/*-------------------------- Contact Page----------------------- */

.form-title {
    margin-top: 60px;
    
    font-family: 'Hind Madurai', sans-serif;
   
   color: black;
}

.form{
    margin-top: 60px;
    margin-bottom: 100px;
    
}

@media (min-width: 768px) {
.social-links-contact {
    padding-bottom: 15px;
}
}


@media (min-width: 768px) {
.social-links-contact li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 70px;
    font-size: 50px;
    line-height: 7px;
    text-align: center;
    color: black;
    background-color: white;
    margin-right: 20px;
    margin-top: 50px;
}
}

/*-------For small screens-------- */

@media (max-width: 767px) {
.social-links-contact {
     padding-bottom: 15px;
}
}


@media (max-width: 767px) {
.social-links-contact li a i {
    width: 20px;
    height: 20px;
    padding: 12px 0;
    border-radius: 30px;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: black;
    background-color: white;
    margin-right: 2px;
}
}