/*-------------------------- Formatting all----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





#html {
    height: 100%;
    font-family: "Hind+Madurai";
}

header {
    font-family: "Hind+Madurai", sans-serif;
    font-size: 20px;
    color: white;
    
}

.background {
  background-image: url("assets/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
/*-------------------------- Centering ----------------------------- */


.jumbotron_landing{
    /*background-image:  url("https://www.residentadvisor.net/images/profiles/icarus.jpg");*/    
    background-repeat: no-repeat;
      background-size: cover;
    position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: none;
  background-color: black;

} 

.full-height {
    min-height: 100vh; /* calc(100vh - 120px)*/
}

/*-------------------------- Full Screen Formats----------------------------- */


.menu-item{
       margin-left: 50px;
}


@media (max-width: 767px) {
    .large-screens{
    display: none;
}
}
/*-------------------------- DropDown Menu----------------------------- */

@media (min-width: 768px){
    #dropdownMenuButton{
    display: none;
    position: fixed;
    right: 0;
    color: white;
    background-color: black;
    
}
}

.navDefault {
    position: fixed;
    right: 0;
    background-color: #4a4a4f;
}

button {
    border: none;
    
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}



/*-------------------------- Footer----------------------------- */

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    display: inline-block;
    
}


.icons{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0; 
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;

}
    
/*-------------------------- Landing Page Section----------------------- */

.landing-image{
    background-image:  url("../assets/background.png");
    position:fixed;
    height: 100% !important;
    width: 100% !important;
    background-size: cover;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*-------------------------- Everything but index page----------------------- */

.placeholder{
    background-color: grey;
    
}

/*-------------------------- Join Up Page----------------------- */
.video-left{
    display: inline-block;
    height:80vh;
    background-color: #9C134E;
}

.video-middle{
    display: inline-block;
    height: 80vh;
    background-color: #F6E11E;
}

.video-right{
    display: inline-block;
    height: 80vh;
    background-color: #E90567;
}

.scroll-icon{
    display: inline-block;
    height: 10vh;
    background-color: #169DB6;
}

.success-left{
    display: inline-block;
    height: 30vh;
    background-color: #0B859C;
}

.success-middle {
    display: inline-block;
    height: 30vh;
    background-color: #9C134E;
}

.success-right{
    display: inline-block;
    height: 30vh;
    background-color: #F6E11E;
}

.join-left{
    display: inline-block;
    height: 70vh;
    background-color: #E90567;
}

.join-main{
    display: inline-block;
    height: 70vh;
    background-color: #169DB6;
}

.join-right{
    display: inline-block;
    height: 70vh;
    background-color: #0B859C;
}

/*-------------------------- Blog Page----------------------- */

.item-one{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
 
}

.item-two{
    display: inline-block;
    margin-top: 50px;
    

}

.item-three{
    display: inline-block;
    margin-top: 50px;
    height: 250px;
    width: 250px;
    
 
}

.item-four{
    display: inline-block;
    margin-top: 50px;
      
}

.jumbotron_news {
    background-image:  url("https://ichef.bbci.co.uk/images/ic/960x540/p02xc61j.jpg");

}

/*-------------------------- Community Page----------------------- */
.chat-box{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    display: inline-block;
}

.list-sizing{
    height: 100%;
    
}